*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    font-family: "Poppins", sans-serif";
    
}
header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 
    0, 0, 0.8) 100%),url(https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/6b2842d1-2339-4f08-84f6-148e9fcbe01b/IN-en-20231218-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 5px;
    position: relative;
}
.navbar{
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    z-index: 10;
}

.left{
   
}
.right{
    
    display: flex;
    gap:10px;
}
.netflixlogo{
    height: 40px;
    width:90%;
   padding-top:20px;
   padding-left: 50px;
}



